body {
background-color: black;
text-align: center;
font-family: Veranda, Geneva, Tahoma;
}

.header--main{
    font-weight: normal;
    font-size: 50px;
    color: white;
}

.header--secondary{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    font-size: 42px;
}

.header--subheader{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    font-size: 42px;
}

.link--cta {
    font-size: 16px;
    color: aquamarine;
}

/* Footer */
.footer--copywrite {
    font-size: 21px;
    color: grey;
    text-align: right;
}